.page {
  padding: 20px;
  overflow-x: hidden; 
}

.listContainer {
  width: 90%;
  max-height: 120px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  margin: 0 auto 20px;
  box-sizing: border-box;
}

.comboItem {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
  background: #242222;
}

.comboItem:hover {
  background: #424141;
}

.selected {
  background: #242222;
}

/* SEPARADOR */
.divider {
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

.timelineContainer {
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

.timeline {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 700px;  /* límite para que no se vea gigante en pantallas grandes */
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #242222;
  border-radius: 12px;
  background: #242222;
  box-sizing: border-box;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
}

.text p {
  margin: 0;
  font-size: 18px;
  color: #666;
}

.arrow {
  font-size: 28px;
  margin: 8px 0;
}
